/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
/bootstrap/cache/*.php
/public/hot
/public/build
/.idea/
/.vscode/
/.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
/.DS_Store
composer.lock
npm-debug.log
yarn-error.log
pnpm-debug.log

**/caddy
frankenphp
frankenphp-worker.php
